extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
      
        h1 #{name}

        p.lead.text-light
          | #{job_title}

        .portfolio-bio
          p
            |   How's it going? I just want to know are you looking for a Web Developer who is fun, brings passion, and is customer focus? Well, you have come to wrong place -- because I am all that and more. I will bring an unmatched work ethic, reliability, and dependable that most employers crave. <br /><br />
          
            |   Not only will I focus on building incredible projects for your business, but I bring positivity and enthusiasm to the team. Because without a good team, a company will not reach its full potential--and I want you to reach your full potential. <br /><br />
         
            |   So take your time and check out my portfolio. If you like what you see, please do not hestitate to reach out. I'll be waiting to hear from you. 
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li Express
          li Node.js
          li JavaScript
          li Swift
          li HTML
          li CSS
          li Jquery
          li Ajax
          li Git 
          li HTTP 
          li PHP
          
        h6 Contact Info


        ul
          li 313-555-1234
          li justblack1227@gmail.com


        a.button.expanded(href='https://github.com/justblack1227') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  